{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/detail.css' %}" />
<script src="{% static 'polls/detail.js' %}"></script>   


<h1>{{ question.question_text }}</h1>

<div class="container-fluid">
<form action="{% url 'polls:vote' question.id %}" method="post">

{% csrf_token %}
{% for choice in question.choice_set.all %}
    <div class="col-xs-6 radio" id = "choice{{ forloop.counter }}">
    <input type="radio" name="choice" value="{{ choice.id }}"/>
    <label for="choice{{ forloop.counter }}" class="form-control">{{ choice.choice_text }}</label><br /></div>
{% endfor %}
<div class="col-xs-6" id="Submit"><br>
<input type="submit" value="Submit" id="submitbutton" onclick = "submitButton()" class="btn btn-info btn-lg" /></div>
</form>
